    <!-- kakao ad fit -->
    <div class="ad-banner-bottom1" style="width:320px; margin-left:auto; margin-right:auto;">
        <ins class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-7gDzveWhtHsLoD93" 
 data-ad-width   = "320" 
 data-ad-height  = "100"></ins> 
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </div>
    
    <div class="ad-banner-bottom2" style="width:320px; margin-left:auto; margin-right:auto;">
        <ins class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-2nl6DMFaHMCzpP9L" 
 data-ad-width   = "320" 
 data-ad-height  = "50"></ins> 
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </div>
    
    <div class="ad-banner-bottom3" style="width:320px; margin-left:auto; margin-right:auto;">
        <ins class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-g4FHyhR6eJv71XdQ" 
 data-ad-width   = "320" 
 data-ad-height  = "50"></ins> 
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </div>
